
/* Remove body's user agent stylesheet + other stylings*/

body {
	margin: 0;
	padding: 0;
	font-family: "Arial";
	height: 100%;
	min-height: 100%;
	background-image: url("/assets/images/background.png");
}

/* Remove selectability of any element this class is added to*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Import other styles/... */
@import 'home/landing';