<div class="intro">
	<br>
	<h2>
		Hi, I'm <b>Neil</b>.
	</h2>
	<h1>
		I like to create...
	</h1>
</div>

<div class="creation">
	<div class="options">
		<div class="left-text">photos</div>
		<div class="center-text">code</div>
		<div class="right-text">video</div>
	</div>
	<img src="/assets/images/creation.png"/>
</div>